# API
NEXT_PUBLIC_API_URL=

# Security
IRON_SESSION_PASSWORD=
NEXTAUTH_URL=

# App Configuration
NEXT_PUBLIC_APP_NAME=Esli Cosmetics
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_VERSION=0.1.0

# Analytics (Optional)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_HOTJAR_ID=

# SEO (Optional)
GOOGLE_SITE_VERIFICATION=

# Development
NODE_ENV=development
ANALYZE=false

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
